!!! 5

%html

  %head
    %title
      Sinatra Rest Api

    %link{ :rel => "stylesheet", :href => "#{documentation_base_uri}/docs.css" }

  %body

    %h1
      %a{ :href => "#{documentation_base_uri}" } Sinatra Rest Api Documentation

    %ul#sidebar
      - docs.keys.sort_by { |k| k.to_s }.each do |section|
        %li          
          %ul.section
            - docs[section].each do |doc|
              %li
                = doc[:verb].upcase
                = doc[:uri]

    #content
      

      - docs[current_section].each do |doc|

        #doc

          .api

            .url
              %a
                = doc[:verb].upcase
                = doc[:uri]

            .description
              = doc[:description]

            - if (doc[:params] || []).length > 0
              .params
                - doc[:params].each do |param|
                  .param
                    .type{ :class => (param[:required] && "required") }
                      = (param[:required]) ? "REQUIRED" : "OPTIONAL"
                    .name= escape_html(param[:name])
                    .description= param[:description]

            %code.request
              = display_code doc[:request]

            %code.response
              = display_code doc[:response]
